<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <p>Site is under maintenance, we'll be back soon.</p>
      {{> footer}}
  </body>
</html>
